body {
    padding: 0px;
    margin: 0px auto;
    background-color: #eee;
}
.box {
    margin: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: #ccc;
    width: 400px;
    height: 200px;
    overflow: hidden;
}
.circle {
    background-color: yellow;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
#left {
    position: absolute;
    top: -50px;
    left: -50px;
}
#right {
    position: absolute;
    right: -50px;
    bottom: -50px;
}