/** 三栏式布局：float **/

body {
    padding: 0px;
    margin: 0px auto;
    background-color: #eee;
}
title h1 {
    display: inline;
}
#left,#middle,#right {
    padding: 20px 0px;
    margin: 20px;
    border: 1px #999 solid;
    overflow: hidden;
}
#left {
    width: 200px;
    float: left;
}
#middle {
    position: absolute;
    margin: 20px 162px 0px 262px;
}
#right {
    width: 120px;
    float: right;
}
.pic {
    float: left;
    width: 80px;
    height: 80px;
    padding: 20px;
}
.context {
    line-height: 1.5em;
}

div.clearer {clear: left; line-height: 0; height: 0;}